body {
  font-family: 'Roboto', sans-serif;
  background: url('../Images/download3.svg') center/cover fixed;
  background-color: #00008b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}


form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 50%;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.name-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .first-name,
  .last-name {
      flex: 1;
      margin-right: 10px;

      input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }
  }

  #lastname {
      width: 105%;
  }
}

.email,
.password,
.confirm-password {
  margin: 10px 0;
}

#email,
#password,
#confirm-password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.phone-fields {
  display: flex;
  justify-content: space-around;

  .country-code,
  .phone-number {
      text-align: left;
      margin-bottom: 10px;

      label {
          display: block;
          margin-bottom: 5px;
      }

      select,
      input[type="tel"] {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }

      select {
          width: 85%;
      }
  }

  .country-code {
      flex: 1;
  }

  .phone-number {
      margin-right: 130px;
      #phone {
          width: 165%;
      }
  }
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px auto;
  display: block;
}
